<!DOCTYPE html>
<html>
  <head>

      <meta charset="utf-8">
      <title>Track Courier</title>
      <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 90%; width: 100%; }

      .map-bug {
          width: 100%;
          height: 100%;
      }
    </style>
  </head>
  <body>

      <div class="container-fluid map-bug">
          <h1>Track Courier</h1>
          <hr/>
          <div class="row">
            <div class="col-md-6"><div class="parcels"></div></div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Summary</div>
                    <div class="panel-body">
                      <div class="parcel-summary"></div>
                    </div>
                </div>
            </div>
          </div>

          <div class="row" style="height: 50%; width: 100%;">
            <div class="col-md-6 col-md-offset-6" style="width: 50%; height: 48%; position: absolute;">
                <div class="panel panel-default map-bug">
                    <div class="panel-heading">Current Location</div>
                    <div class="panel-body map-bug">
                      <div id="map"></div>
                    </div>
                </div>
            </div>
          </div>
      </div>

    <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZVrpwoAbKCzpjtspToqCHbUICoOq9ybs&sensor=false"></script> -->

    <script type="text/template" id="parcels-short-details">
        <ul class="list-group">
        <% _.each(parcels, function(parcel) { %>
            <button type="button" class="list-group-item load-summary" data-parcel="<%= parcel.get('_id')%>"><%= htmlEncode(parcel.get('name')) %></button>
        <% }); %>
        </ul>
    </script>

    <script type="text/template" id="map-view">
        <div class="panel panel-default">
            <div class="panel-body">
              <div><%= htmlEncode(position['lat']) %>, <%= htmlEncode(position['lng']) %></div>
            </div>
        </div>
    </script>

    <script type="text/template" id="parcel-full-details">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td><%= htmlEncode(parcel.get('name')) %></td>
                </tr>
                <tr>
                    <th>From</th>
                    <td><%= htmlEncode(parcel.get('from')) %></td>
                </tr>
                <tr>
                    <th>Destination</th>
                    <td><%= htmlEncode(parcel.get('to')) %></td>
                </tr>
                <tr>
                    <th>Dispatched On</th>
                    <td><%= htmlEncode(parcel.get('dispatched_on')) %></td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td><%= htmlEncode(parcel.get('color')) %></td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td><%= htmlEncode(parcel.get('weight')) %></td>
                </tr>
            </tbody>
        </table>
    </script>

    <script>
        $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
            options.url = 'http://localhost:8000' + options.url;
        });

        function htmlEncode(value){
          return $('<div/>').text(value).html();
        }

        $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name] !== undefined) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
        };


        /////////////// Models //////////////////////////
        var Parcel = Backbone.Model.extend({
            urlRoot: '/parcel'
        });


        ////////////// Collections //////////////////////
        var ParcelsShortDetails = Backbone.Collection.extend({
            url: '/parcels/short_details'
        });


        ////////////// Views ////////////////////////////
        var HomeView = Backbone.View.extend({
            el: '.parcels',

            events: {
                'click .load-summary': 'loadSummary'
            },

            loadSummary: function(ev) {
                var parcel_id = $(ev.currentTarget).data('parcel');
                parcelSummaryView.render(parcel_id);
            },

            render: function() {
                var that = this;
                var parceslsShortDetails = new ParcelsShortDetails();
                parceslsShortDetails.fetch({
                    success: function(parcels) {
                        var template = _.template($('#parcels-short-details').html(), {parcels: parcels.models});
                        that.$el.html(template);
                        parcelSummaryView.render(parcels.models[0].get('_id'));
                    }
                });
            }
        });
        var homeView = new HomeView();

        var ParcelSummarView = Backbone.View.extend({
            el: '.parcel-summary',

            render: function(parcel_id) {
                var that = this;
                var parcel = new Parcel({id: parcel_id});

                parcel.fetch({
                    success: function(parcel) {
                        var template = _.template($('#parcel-full-details').html(), {parcel: parcel});
                        that.$el.html(template);
                        var location = parcel.get('current_location');
                        var position = {lat: Number(location['lattitude']), lng: Number(location['longitude'])};

                        loadMap(position);
                    }
                });
            }
        });
        var parcelSummaryView = new ParcelSummarView();

        var map;

        function loadMap(position) {
            map = new google.maps.Map(document.getElementById('map'), {
            // map = new google.maps.Map(document.getElementsByClassName("my-map")[0], {
                center: position,
                zoom: 10
            });

            var marker = new google.maps.Marker({
                position: position,
                map: map,
            });
        }

        /////////////// Router //////////////////////////
        var Router = Backbone.Router.extend({
            routes: {
                "" : "home"
            }
        });
        var router = new Router();

        router.on('route:home', function () {
            homeView.render();
        });

        Backbone.history.start();
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZVrpwoAbKCzpjtspToqCHbUICoOq9ybs"></script>
  </body>
</html>
