<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Track Courier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Container where the different pages will be loaded -->
    <div class="container">
        <h1>Track Courier</h1>
        <hr/>
        <div class="home-page"></div>
        <div class="courier-details"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <!-- Home Page -->
    <script type="text/template" id="home-page">
        <a href="#login" class="btn btn-primary">Login</a>
        <a href="#signup" class="btn btn-primary">Signup</a>
        <br>

        <h3>Track Your Courier</h3>
        <form class="track-courier-form">
            <label>Courier Id</label>
            <input type="text" name="courier" class='courier-id'/>
            <br/>
            <button type="submit" class="btn btn-primary">Track</button>
        </form>
    </script>

    <!-- Login Page -->
    <script type="text/template" id="login-page">
        <h3>Login Page</h3>
        <form class="login-form">
            <label>Username</label>
            <input type="text" name="username" /><span class="username" style="color: red"/>

            <label>Password</label>
            <input type="text" name="password" /><span class="password" style="color: red"/>
            <br/>

            <button type="submit" class="btn btn-primary">Login</button>
            <a href="" class="btn btn-primary">Back</a>
        </form>
    </script>

    <!-- Signup Page -->
    <script type="text/template" id="signup-page">
        <h3>Signup Page</h3>
        <a href="" class="btn btn-primary">Back</a>
    </script>

    <!-- Courier Details -->
    <script type="text/template" id="courier-details">
        <h3>Courier Details</h3>
        <table class="table table-bordered">
          <tbody>
              <tr>
                  <th>Parcel ID</th>
                  <td><%= htmlEncode(parcel.get('parcel_id')) %></td>
              </tr>
              <tr>
                  <th>From Person</th>
                  <td><%= htmlEncode(parcel.get('from_person_name')) %></td>
              </tr>
              <tr>
                  <th>To Person</th>
                  <td><%= htmlEncode(parcel.get('to_person_name')) %></td>
              </tr>
              <tr>
                  <th>Color</th>
                  <td><%= htmlEncode(parcel.get('color')) %></td>
              </tr>
              <tr>
                  <th>Weight</th>
                  <td><%= htmlEncode(parcel.get('weight')) %></td>
              </tr>
              <tr>
                  <th>Dispatched On</th>
                  <td><%= htmlEncode(parcel.get('dispatched_on')) %></td>
              </tr>
              <tr>
                  <th>Expected Delivery</th>
                  <td><%= htmlEncode(parcel.get('expected_delivery')) %></td>
              </tr>
              <tr>
                  <th>Sender Address</th>
                  <td><%= htmlEncode(parcel.get('sender_address')) %></td>
              </tr>
              <tr>
                  <th>Receiver Address</th>
                  <td><%= htmlEncode(parcel.get('receiver_address')) %></td>
              </tr>
              <tr>
                  <th>Sender Phone No</th>
                  <td><%= htmlEncode(parcel.get('sender_phone_no')) %></td>
              </tr>
              <tr>
                  <th>Receiver Phone No</th>
                  <td><%= htmlEncode(parcel.get('receiver_phone_no')) %></td>
              </tr>
          </tbody>
        </table>
        <div class="map" style="width:100%;height:500px"></div>
        <a href="" class="btn btn-primary">Back</a>
    </script>

    <script>
    function validate(user) {
        username = user.username.trim();
        pass = user.password.trim();
        $('.username').html("");
        $('.password').html("");

        if (username === "") {
            $('.username').html('Username cannot be empty');

            if (pass === "") {
                $('.password').html('Password cannot be empty');
            }
            return false;
        }
        return true;
    }
    </script>

    <script>
        $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
            options.url = 'http://localhost:8000' + options.url;
        });
        function htmlEncode(value){
          return $('<div/>').text(value).html();
        }
        $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name] !== undefined) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
        };

        /////////////// Models /////////////////////////
        var User = Backbone.Model.extend({
            urlRoot: '/accounts/login'
        });

        var Courier = Backbone.Model.extend({
            urlRoot: '/parcels'
        });

        ////////////// Views ////////////////////////////
        var LoginView = Backbone.View.extend({
            el: '.home-page',

            events: {
                'submit .login-form': 'login'
            },

            login: function(ev) {
                ev.preventDefault();
                var userDetails = $(ev.currentTarget).serializeObject();
                if(validate(userDetails)) {
                    var user = new User();
                    user.save(userDetails, {
                        success: function(userDetails) {
                            console.log("Logged in successfully");
                            router.navigate('/', true);
                        },

                        error: function(err) {
                            console.log(err);
                        }
                    });
                }
            },

            render: function() {
                var template = _.template($('#login-page').html());
                this.$el.html(template);
            }
        });
        var loginView = new LoginView();

        var SignupView = Backbone.View.extend({
            el: '.home-page',

            render: function() {
                var template = _.template($('#signup-page').html());
                this.$el.html(template);
            }
        });
        var signupView = new SignupView();

        var CourierDetailsView = Backbone.View.extend({
            el: '.courier-details',

            loadMap: function() {
                var mapCanvas = document.getElementsByClassName('map')[0];
                var myLatLng = {lat: 12.9716, lng: 77.5946};
                var mapOptions = {
                    center: myLatLng,
                    zoom: 13
                }
                var map = new google.maps.Map(mapCanvas, mapOptions);

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                });
            },

            render: function(courierId) {
                var that = this;
                var courier = new Courier({id: courierId});
                courier.fetch({
                    success: function(parcel) {
                        console.log(parcel.get('from_person_name'));
                        var template = _.template($('#courier-details').html(), {parcel: parcel});
                        that.$el.html(template);
                        that.loadMap();
                    },

                    error: function(err, response) {
                        console.log(response.status);
                        if (response.status == 401)
                            that.$el.html("<h3>Not Logged In. Please Login.</h3><a href=\"\" class=\"btn btn-primary\">Back</a>")
                        else
                            that.$el.html("<h3>Invalid Courier ID</h3><a href=\"\" class=\"btn btn-primary\">Back</a>");
                    }
                });

            }
        });
        var courierDetailsView = new CourierDetailsView();

        var HomePageView = Backbone.View.extend({
            el: '.home-page',

            events: {
                'submit .track-courier-form': 'track'
            },

            track: function(ev) {
                ev.preventDefault();
                var courierId = $(ev.currentTarget).serializeObject().courier;
                courierDetailsView.render(courierId);
                this.$el.html('');
            },

            render: function() {
                var template = _.template($('#home-page').html());
                this.$el.html(template);
            }
        });
        var homePageView = new HomePageView();

        /////////////// Router ///////////////////////////
        var Router = Backbone.Router.extend({
            routes: {
                "": "home",
                "login": "login",
                "signup": "signup",
                "courier-details": "details"
            }
        });
        var router = new Router;

        router.on('route:home', function() {
            homePageView.render();
        });

        router.on('route:login', function() {
            loginView.render();
        });

        router.on('route:signup', function() {
            signupView.render();
        });

        router.on('route:details', function() {
            homePageView.clear();
            courierDetailsView.render();
        });

        Backbone.history.start();
    </script>
</body>
</html>
